 #cart_img1{
	margin-left: 830px;
}
#div1_div1{
	width: 1190px;
	margin-left: 90px;
}
#div1 #sapn{
	font-size: 16px;
	font-family: "微软雅黑";
	
}
#div1 #hr{
	height:1px;
	border:none;
	border-top:1px solid #99D9EA;
}
#div2{
	width: 1190px;
	margin-left: 90px;
}
#div2 #span1 span{
	color: #99D9EA;
	font-size: 18px;
}
#div2 #hr{
	height:2px;
	border:none;
	border-top:2px solid #99D9EA;
}
td{
	width: 100px;
	text-align: center;
}
#div2 table tr td:nth-of-type(1){
	width: 350px;
	
}
#div2 table tr td:nth-of-type(4){
	width: 150px;
	
}
#div2 table tr td:nth-of-type(5){
	width: 150px;
	
}
table{
	border: none;
	border-bottom: solid 1px #ccc;
	background: linear-gradient(to bottom, white,#ddd);
}
#div1_div1 #div1{
	margin-left: 90px;
	background-color: #eee;
}
 #info_form{
		position: absolute;
		left: 705px;
		top: 25px;
		width: 160px;
	} 
#div1_div1 #div2 span{
	line-height: 20px;
	font-size:16px ;
}
#div1_div1 #div2 #span1{
	position: absolute;
	left: 300px;
}
